@page "/dragAndDrop"

@rendermode InteractiveServer
<div @onmouseup="Drop" @onmousemove="OnMouseOver" style="width: 100%; height: 100%; position: absolute;">
<h3>DragAndDrop</h3>

<p>Drag and drop the items below:</p>
<p>Mouse pos : @_mousePosition Button style :@_buttonStyle</p>

    <button  class="btn btn-primary" style="@_buttonStyle" @onmousedown="Drag">Drag me !</button>
</div>